* {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
    list-style: none;
}

#container {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "header"
    "content"
    "footer"
    ;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

/*GERAL*/

/*HEADER*/

#header {
    grid-area: header;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: #b80000;
}


#logo {
    display: block;
    text-align: center;
    max-width: 250px;
    margin: 15px auto 0 auto;
    color: white;
}


/*HEADER*/

/*HEADER NAV*/

#estados, #mundo, #categorias {
    display: none;
}

#nav #nav-menu, #nav #nav-menu li, #nav #nav-menu a, #nav #nav-menu span, #nav {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
} 

#nav #nav-menu .nav-item {
    margin-left: 30px;
}

#nav {
    background: #b80000;
    padding: 15px;
    user-select: none;
    margin-bottom: 15px;
}

#nav.ativo {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
}

#btn {
    display: flex;
}

#btn span:hover {
    cursor: pointer;
    background-color: #970000;
}

#btn span {
    background: none;
    border: none;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}

#btn span:first-child {
    margin-left: 30px;
}

#nav li {
    padding: 5px 7px;
}

#nav li:hover {
    background: #970000;
    cursor: pointer;
}

#nav.ativo #search-bar {
    position: absolute;
    left: 0;
    top: 66px;
    width: 100%;
    display: none;
}

#nav.ativo #search-bar.ativo {
    display: block;
}

#nav #search-bar {
    position: absolute;
    left: 0;
    top: 133.5px;
    width: 100%;
    display: none;
}

#nav #search-bar.ativo {
    display: block;
}

#search-input {
    outline: none;
    border: none;
    box-sizing: border-box;
    padding: 5px 15px;
    width: 100%;
    background: #b80000;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    border-top: 2px solid #970000;
}

#search-input::placeholder {
    color: rgb(255, 255, 255, 0.7);
}

#search-input:focus {
    outline: none;
}

#estados, #mundo, #tipos {
    display: none;
    position: absolute;
    background-color: #b80000;
    top: 134px;
}

#estados {
    margin-right: 408px;
}

#mundo {
    margin-right: 140px;
}

#tipos {
    margin-left: 180px;
}

#estados a, #mundo a, #tipos a {
    color: white;
}

#nav.ativo #estados, #nav.ativo #mundo, #nav.ativo #tipos {
    top: 66px;
}

#nav.ativo #estados {
    margin-right: 408px;
}

#nav.ativo #mundo {
    margin-right: 140px;
}

#nav.ativo #tipos {
    margin-left: 180px;
}


#estados.ativo, #mundo.ativo, #tipos.ativo {
    display: block;
    width: 160px;
}

#mobile-btn {
    color: white;
    padding: 5px;
    display: none;
    justify-content: center;
    align-items: center;
}

#mobile-btn:hover {
    background-color: #970000;
    cursor: pointer;
}


@media (max-width: 720px) {
    #btn span {
        margin: 0 !important;
    }
    
    #nav.ativo #nav-menu.mobile {
        display: block !important;
        position: absolute;
        top: 66px;
        background: #b80000;
        width: 100%;
    }

    #nav #nav-menu.mobile {
        display: block !important;
        position: absolute;
        top: 133.8px;
        background: #b80000;
        width: 100%;
    }

    #nav-menu.mobile li {
        margin: 0 !important;
    }

    #estados, #mundo, #tipos {
        position: relative;
        background-color: #b80000;
        top: 0 !important;
        width: 100% !important;
        text-align: center;
        margin: 0 !important;
    }

    #nav-menu {
        display: none !important;
    }    

    #mobile-btn {
        display: flex;
    }
}

/*HEADER NAV*/

/*CONTENT*/

#content {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 10px;
}

#content a:hover h2 {
    text-decoration: underline;
}

.big {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;
}

.big img {
    width: 100%;
    height: 270px;
    justify-self: start;
}

.big-content {
    margin-left: 15px;
}

.medium {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.medium-item {
    width: 350px;
}

.medium-item img {
    width: 350px;
}

.medium-item:nth-child(1), .medium-item:nth-child(2), .medium-item:nth-child(3) {
    margin-bottom: 15px;
}

.small {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.small-item img {
    width: 170px;
    height: 70px;
}

.small-item {
    display: flex;
    margin-bottom: 15px;
    max-width: 50%;
}

.small-item p {
    font-size: 13px;
    max-width: 90%;
}

.small-content {
    margin-left: 15px;
}

.medium h2, .small h2 {
    font-size: 18px;
}

@media (max-width: 770px) {
    .big {
        grid-template-columns: auto;
    }

    .big h2 {
        font-size: 18px;
    }

    .big-content {
        margin: 0;
    }
}

@media (max-width: 1100px) {
    .medium-item {
        width: 48%;
    }
    
    .medium-item img {
        width: 100%;
    }

    .medium-content p {
        font-size: 14px;
    }
}

@media (max-width: 900px) {
    .small-item {
        max-width: 100%;
    }
}



/*CONTENT*/

/*FOOTER*/

#footer {
    background: #b80000;
    color: white;
    text-align: center;
    font-weight: 700;
    padding: 30px;
}

/*FOOTER*/
